body {
    font-family: Arial, sans-serif;
    background: url('../img/imagen-de-fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px 0; /* Añadir padding superior e inferior */
    animation: backgroundMove 30s linear infinite;
}

@keyframes backgroundMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    border: 1px solid #ddd;
    margin: 20px; /* Añadir márgenes alrededor */
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-container label i {
    margin-right: 10px;
}

.form-container input, .form-container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.form-container label[for="Masculino"],
.form-container label[for="Femenino"] {
    display: inline-block;
    margin-right: 20px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: #00aaff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-container button i {
    margin-right: 10px;
}

.form-container button:hover {
    background: #008ecc;
}

